p{
padding: 10px;
border-radius: 15px;
box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
border: 1px solid transparent;

}
.message{

 margin: 10px;
 width: fit-content;
 }

.message__user{
    margin-left: auto;
    text-align: left;
   
}

.message__guest{
    
    color: black;
    text-align: right;
}

.message__userCard{
    background-color: #0B81FF;
}

.message__guestCard{
    background-color: #E9E9EB;
}
